<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fm.cpec">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"

        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAn-BsAftNGuz9HkyZeTM18nlte2VN3zgI" />
        <meta-data

            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".SetLanguages" />
        <activity android:name=".Introduction" />
        <activity android:name=".LoginSignup" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".SellProperty" />
        <activity android:name=".MyProperty" />
        <activity android:name=".OpenMain" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Favourite" />
        <activity android:name=".MainXml" />
        <activity android:name=".SearchFiltermain" />
        <activity android:name=".NewTab" />
        <activity android:name=".SerachFilterOnsearch" />
        <activity android:name=".Mypropertyget" />
        <activity android:name=".ResiSub" />
        <activity android:name=".ComrSub" />
        <activity android:name=".OpenSub" />
        <activity android:name=".CityCatogory" />
        <activity android:name=".Gawadarcat" />
        <activity android:name=".Newtownphase" />
        <activity android:name=".Sangharphase" />
        <activity android:name=".CmNewtownPhase" />
        <activity android:name=".CmSangPhase" />
        <activity android:name=".CmBechPhase" />
        <activity android:name=".CmGiePh" />
        <activity android:name=".ContactUs" />
        <activity android:name=".LineChartActivity" />
        <activity android:name=".Trending" />
        <activity android:name=".IndLand" />
        <activity android:name=".CmrLand" />
        <activity android:name=".ResidenLand" />
        <activity android:name=".OilCity"></activity>
    </application>

</manifest>